{{ define "main" }}

<article>
    {{ $lang := .Lang }} <!-- Récupérer la langue actuelle -->

    {{ with .Site.GetPage (printf "manifestes/_index.%s.md" $lang) }}
        <h2>{{ .Title }}</h2>
        {{ .Content }}
    {{ else }}
        <p>Le manifeste est en cours de rédaction.</p>
    {{ end }}
</article>

<nav>
    <ul>
        {{ range .Site.Languages }}
            <li><a href="{{ .Lang | relURL }}">{{ .LanguageName }}</a></li>
        {{ end }}
    </ul>
</nav>

<h2>Signer le manifeste</h2>

<form name="signature" method="POST" data-netlify="true" action="/merci">
    <input type="hidden" name="form-name" value="signature">

    <label for="prenom">Prénom :</label>
    <input type="text" id="prenom" name="prenom" required>

    <label for="nom">Nom :</label>
    <input type="text" id="nom" name="nom" required>

    <button type="submit">Signer</button>
</form>

<p><a href="/signatures/">Voir les signatures</a></p>

{{ end }}
